[submodule "external/cgal"]
	path = external/cgal
	url = https://github.com/CGAL/cgal.git
	branch = 5.6.x-branch
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
	branch = v1.14.x
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
	branch = onetbb_2021
[submodule "external/parallel-hashmap"]
	path = external/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
	branch = master
